* {
    background-color: beige;
    color: darkred;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 500px;
}

ul {
    list-style: none;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}